<div class="card">
  <div class="card-body">
    <h4 class="card-title">Enter Student Details</h4>
    <form (ngSubmit)="insertOrUpdate()">
      <div class="mb-3">
        <label for="studentId" class="form-label">Student ID</label>
        <input type="text" class="form-control" id="studentId" placeholder="Enter Student ID" [(ngModel)]="student._id" name="studentId">
      </div>
      <div class="mb-3">
        <label for="rollNo" class="form-label">Roll Number</label>
        <input type="text" class="form-control" id="rollNo" placeholder="Enter Roll Number" [(ngModel)]="student.rollno" name="rollNo">
      </div>
      <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" placeholder="Enter Name" [(ngModel)]="student.name" name="name">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>